body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}
:hover {
  background: white;
  background-color: white;
  color: black;
}
.navbar-header a.navbar-brand {
  color: black;
}
.navbar-header a.navbar-brand:hover {
  color: black;
}
.navbar-default .navbar-nav>.active>a{
  color: black;
  background-color: white;
}
.navbar-default .navbar-nav>.active>a:hover {
  background: white;
  color: black;
}
.navbar-default .navbar-nav>li>a {
  color: red;
  font-size: 20px;
}
.dropdown-menu>li>a {
  color: red;
  background: white;
}
.dropdown-menu>li>a:hover {
  background-color: white;
  color: black;
}
a.navbar-brand {
  font-size: 40px;
}
.freedom {
  margin: auto;
  background: white;
  color: white;
}
.navbar-default {
  background-color: white;
  border-color: white;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
    background: white;
    color: black;
 }
.dropdown-menu .divider {
  margin: 1px;
}
ul.dropdown-menu {
  padding:0px;
  background: white;
}
ul.dropdown-menu li:hover {
  background: white;
  color: red;
}
@media screen and (min-width: 768px) {
  .freedom {
    width: 70%;
    margin: auto;
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .freedom {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .freedom {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .freedom {
    width: 100%;
  }
}
@media only screen and (max-width : 320px) {
  .freedom {
    width: 100%;
  }
}
