
body {
  font-size: 15px;
  font-family: 'Megrim', cursive;
  font-weight: bold;
}
p {
  margin: 0px;
}
h1 {
  margin: 0px;
}
h3{
  margin: 0px;
}
h4{
  margin: 0px;
}
.cats {
  height:10px;
  width: 100%;
  background: blue;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    /* background-color: #eee; */
}
.bgimg-1 .broomir h1 {
  text-align: center;
  bottom: 400px;
  position: relative;
  font-size: 70px;
  color: white;
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  background-attachment: FIXED;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("https://github.com/Clarachun/R2G2Website/blob/master/Photographs/134045728_14256865782481n.png?raw=true");
  height: 100%;
  width: 100%;
}
.bgimg-2 {
  background: white;
  min-height: 400px;
  width: 100%;
}
.bgimg-3 {
  background: white;
  height: 500px;
}
.bgimg-3 h1 {
  font-size: 100px;
  padding: 30px;
  color: white;
}
.bgimg-4 {
  background: white;
  height:100px;
  width: 100%;
}
.mirkwood {
  background: transparent;
}
.laketown {
  width:500px;
  padding-left: 100px;
  color: white;
}
.rectangle-2{
  height: 275px;
  width: 500px;
  background-color: transparent;
  border: 3px solid white;
}
.thranduil {
    width: 500px;
    left: 750px;
    bottom: 310px;
    color: white;
    position: relative;
}
h2{
  margin: 0px;
}
.dropdown-menu {
  background-color: transparent;
}
ul.dropdown-menu:hover {
  background: transparent;
}
.navbar-header a.navbar-brand {
  color: #58cee3;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-header a.navbar-brand:hover {
  color: #58cee3;
}
.navbar-default .navbar-nav>.active>a{
  color: #58cee3;
  background: transparent;
}
.navbar-default .navbar-nav>.active>a:hover {
  background: transparent;
  color: #58cee3;
}
.navbar-default .navbar-nav>li>a {
  color: #d43256;
  font-size: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #58cee3;
}
.dropdown-menu>li>a {
  color: #d43256;
  background: transparent;
}
.dropdown-menu>li>a:hover {
  background-color: transparent;
  color: #58cee3;
}
a.navbar-brand {
  font-size: 40px;
}
.shire {
  width: 100%;
  height: 670px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
    color: #58cee3;
 }
.dropdown-menu .divider {
  margin: 1px;
}
ul.dropdown-menu li:hover {
  color: #d43256;
}
.mirkwood {
  width: 100%;
}
.circle {
  width: 400px;
  height: 400px;
  background-color: transparent;;
  border-radius: 50%;
  border: 9px solid white;
}
.rectangle {
  height: 300px;
  width: 500px;
  background-color: transparent;
  border: 3px solid white;
  position: relative;
  left: 550px;
  bottom: 350px;
}
.rectangle p {
  font-size: 25px;
  color: white;
  padding: 10px;
}
.greenwood {
  background: black;
  height: 500px;
  border-radius: 20px;
  padding: 50px;
}
.rivendell {
  padding: 20px;
}
.greenwood img{
  width: 80px;
  height: 80px;
  background: white;
}
img.rohan {
  top: 150px;
  right: 40px;
  position: relative;
}
img.rohan:hover {
  background: pink;
}
img.middle-earth {
  position: relative;
  left: 70px;
  bottom: 40px;
}
img.gandalf {
  position: relative;
  left: 170px;
  top: 150px;
}
img.legolas {
  position: relative;
  right: 95px;
  top: 350px;
}
@media screen and (min-width: 768px) {
  .mirkwood {
    width: 70%;
    margin: auto;
    padding-top: 20px;
  }
  .shire {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .shire {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .shire {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .shire {
    width: 100%;
  }
}
@media only screen and (max-width : 320px) {
  .shire {
    width: 100%;
  }
}
