body {
  font-size: 15px;
  font-family: 'Megrim', cursive;
  font-weight: bold;
}
.mirkwood {
  background: transparent;
}
.dropdown-menu {
  background-color: transparent;
}
ul.dropdown-menu:hover {
  background: transparent;
}
.navbar-header a.navbar-brand {
  color: #58cee3;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-header a.navbar-brand:hover {
  color: #58cee3;
}
.navbar-default .navbar-nav>.active>a{
  color: #58cee3;
  background: transparent;
}
.navbar-default .navbar-nav>.active>a:hover {
  background: transparent;
  color: #58cee3;
}
.navbar-default .navbar-nav>li>a {
  color: #d43256;
  font-size: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #58cee3;
}
.dropdown-menu>li>a {
  color: #d43256;
  background: transparent;
}
.dropdown-menu>li>a:hover {
  background-color: transparent;
  color: #58cee3;
}
a.navbar-brand {
  font-size: 40px;
}
.shire {
  background-image: url(https://github.com/Clarachun/R2G2Website/blob/master/Photographs/134045728_14256865782481n.png?raw=true);
  width: 100%;
  height: 670px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
    color: #58cee3;
 }
.dropdown-menu .divider {
  margin: 1px;
}
ul.dropdown-menu li:hover {
  color: #d43256;
}
.mirkwood {
  width: 100%;
}
.circle {
    width: 400px;
    height: 400px; /* as the half of the width */
    background-color: transparent;;
    border-radius: 50%;
    border: 9px solid white;
}
.greenwood {
  background: black;
  height: 500px;
  border-radius: 20px;
  padding: 50px;
}
.rivendell {
  padding: 20px;
}
.greenwood img{
  width: 80px;
  height: 80px;
  background: white;
}
img.rohan {
  top: 150px;
  right: 40px;
  position: relative;
}
img.rohan:hover {
  background: pink;
}
img.middle-earth {
  position: relative;
  left: 70px;
  bottom: 30px;
}
img.gandalf {
  position: relative;
  left: 170px;
  top: 150px;
}
img.legolas {
  position: relative;
  right: 95px;
  top: 350px;
}
@media screen and (min-width: 768px) {
  .mirkwood {
    width: 70%;
    margin: auto;
    padding-top: 20px;
  }
  .shire {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .shire {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .shire {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .shire {
    width: 100%;
  }
}
@media only screen and (max-width : 320px) {
  .shire {
    width: 100%;
  }
}
