body {
  font-size: 15px;
  font-family: 'Megrim', cursive;
  font-weight: bold;
}
.mirkwood {
  background: transparent;
}
.dropdown-menu {
  background-color: transparent;
}
ul.dropdown-menu:hover {
  background: transparent;
}
.navbar-header a.navbar-brand {
  color: #58cee3;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-header a.navbar-brand:hover {
  color: #58cee3;
}
.navbar-default .navbar-nav>.active>a{
  color: #58cee3;
  background: transparent;
}
.navbar-default .navbar-nav>.active>a:hover {
  background: transparent;
  color: #58cee3;
}
.navbar-default .navbar-nav>li>a {
  color: #d43256;
  font-size: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #58cee3;
}
.dropdown-menu>li>a {
  color: #d43256;
  background: transparent;
}
.dropdown-menu>li>a:hover {
  background-color: transparent;
  color: #58cee3;
}
a.navbar-brand {
  font-size: 40px;
}
.shire {
  width: 100%;
}
.mirkwood {
  width: 70%;
  margin: auto;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .shire {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .shire {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .shire {
    width: 100%;
  }
}
@media only screen and (max-width : 320px) {
  .shire {
    width: 100%;
  }
}
