/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-size: 15px;
  font-weight: bold;
}
.hitit {
  background-image: url("http://i2.cdn.turner.com/cnnnext/dam/assets/160825160953-05-week-in-photos-0826-super-169.jpg");
  height: 400px;
}

.btn {
    background: black;
    border: 0px solid transparent;
    border-radius: 4px;
    color: white;
}
.btn:hover {
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption h3 {
    margin-bottom: 5pc;
    font-size: 50px;
    margin-right: 400px;
  }
  .carousel-caption a {
    text-decoration: none;
    color: white;
  }
  .carousel-caption a:hover {
    text-decoration: none;
    color: white;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.body {
  background-color: black;
}
.lin {
  background-image: url("https://github.com/Clarachun/R2G2Website/blob/master/Photographs/134045728_14256865782481n.png?raw=true");
  height: 662px;
}
.rivendell img {
  width: 80px;
  height: 80px;
  background: white;
}
a title:hover {
  background:white;
  color: black;
  font-size: 12px;
}
.great {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  position: fixed;
  top: 45px;
  right: 55px;
}
.great hr {
  margin: 10px;
  padding: 0px;
  border-color: black;
}
.manuel {
  width: 100%;
  height: 600px;
  background-color: black;
}
.manuel h1 {
  font-size: 80px;
  padding-left: 60px;
  color: white;
}
.think {
  background-color: black;
}
.thranduilion {
  height: 600px;
  background-color: black;
}
.think hr { padding: 0px; margin: 0px; width: 60%; margin: auto;}
.footer {
  height: 100px;
  background-color: white;
}
.footer img {
  height: 50px;
  width: 50px;
}
.opherion {
  margin: auto;
  width: 158px;
  padding-top: 10px;
}
.opherion p {
  color: black;
  text-align: center;
  padding-right: 5px;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (min-width: 768px) {
  .circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 4px solid white;
    margin: auto;
  }
  .rohan {
    position: relative;
    bottom: 45px;
    width: 80px;
    height: 80px;
    left: 10pc;
  }
  .middle-earth {
    position: relative;
    top: 4pc;
    right: 200px;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .gandalf {
    position: relative;
    bottom: 1pc;
    left: 194px;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .legolas {
    position: relative;
    top: 7pc;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .rectangle-1 {
    height: 300px;
    width: 500px;
    border: 5px solid white;
    background: transparent;
  }
  .hey {
    padding-left: 100px;
  }
  .hey > h2 {
    padding: 0px;
    margin: 0px;
    color: white;
  }
  .hey .rectangle-1 h2 {
    padding-left: 420px;
    margin: 0px;
    color: white;
  }
  .rectangle-2 {
    height: 300px;
    width: 500px;
    border: 5px solid white;
    background: transparent;
  }
  .ho {
    padding-left: 100px;
  }
  .ho > h2 {
    padding: 0px;
    margin: 0px;
    color: white;
  }
  .ho .rectangle-2 h2 {
    padding-left: 400px;
    margin: 0px;
    color: white;
  }
  .manuel {
    width: 100%;
    height: 600px;
    background-color: black;
  }
}
@media screen and (max-width: 768px) {
  .manuel {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}
@media screen and (max-width: 600px) {
  .manuel {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}
@media screen and (max-width: 480px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
  }
  .manuel {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}
@media only screen and (max-width : 320px) {
  .manuel {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}
